
.idea/workspace.xml

.idea/misc.xml

.idea/modules.xml

.idea/MovieTop250.iml

.idea/vcs.xml

.idea/dictionaries/st00nne.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml
